@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AgentForce</h1>
    <p class="lead">AgentForce brings agent-client relationships to a whole new level.  Introducing AgentForce, a new way to do business. AgentForce brings powerful &copy;Salesforce integration and the ability to communicate in real time without playing phone tag. Speed up the application process and manage your service cycle better than the competition.  Just because the Insurance industry is still using 20th Century technology, doesn't mean you have to.  </p>
    <p><a href="http://asp.net" class="btn btn-warning btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>DEFAULT</h2>
        <p>

        </p>
        <p><a class="btn btn-warning" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>DEFAULT</h2>
        <p></p>
        <p><a class="btn btn-warning" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>DEFAULT</h2>
        <p></p>
        <p><a class="btn btn-warning" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>